.headerContainer
{
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: 100% 100%; 
    background-image: url("../Assert/AboutDLC/imageCover.jpg"); 
    /* z-index: 1; */
}
body{
    margin: 0%;
    /* width: 90vw; */
}
.main-Logo{
    width: 35vw;
    height: 30vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
.logo-main, img{
    width: 35%;
    height: 20%;
}
.nav-bar{
    width: 60vw;
    height: 25vh;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  
}
.nav
{
    border: 0px solid gray;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    font-size: medium;
}
.nav a{
    color: white;
}
a {
    font-size:20px;
    text-align:center;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    font-size: large;
}
.HeadingName h1{
    display: flex;
    flex-direction: row;
    font-size:50px;
    color: white;
}
.HeadingName{
    /* border: 1px solid red; */
    width: 70vw;
    height: 60vh;
}
.mainhead{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bottomheading{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 1px solid red; */
    width: 35vw;
    height: 10vh
    
}
.bottomHead{
    /* border: 1px solid red; */
     color: white;
}
img{
    width: 100%;
    height: 100%;
}
@media only screen and (min-width :320px) and (max-width :480px) {
    .headerContainer{
        width: 100vw;
        height: auto;
    }
    .nav-bar{
        display: none;
    }
    .logo-main{
        width: 120px;
        height: 30px;
        position: relative;
        left: 30px;
        top:10px;
    }
    .mainhead{
        justify-content: space-around;
        font-size: small;
        width: 95vw;
        /* border: 1px solid red; */
    }
    #small-head{
        display: none;
    }
    
}
@media only screen and (min-width :481px) and (max-width :768px) {
    .headerContainer{
        width: 100vw;
        height: auto;
    }
    .nav-bar{
        display: none;
    }
    .logo-main{
        width: 120px;
        height: 30px;
        position: relative;
        left: 30px;
        top:10px;
    }
    .mainhead{
        justify-content: space-around;
        font-size: small;
        width: 70vw;
        /* border: 1px solid red; */
    }
    #small-head{
        display: none;
    }
    
}
@media only screen and (min-width :769px) and (max-width :1024px) {
    .headerContainer{
        width: 100vw;
        height: auto;
    }
    .nav-bar{
        display: none;
    }
    .logo-main{
        width: 120px;
        height: 30px;
        position: relative;
        left: 30px;
        top:10px;
    }
    .mainhead{
        justify-content: space-around;
        font-size: small;
        width: 70vw;
        /* border: 1px solid red; */
    }
    #small-head{
        display: none;
    }
    
}
/*===========Middle-Text-Container ============*/

.Middle-Container1 {
    width: 100vw;
    height: 190vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.middle-Para{
    width: 100%;
    height: 30%;
    display: flex;
    background-color:white;
    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    opacity: 0.6;
    line-height: 200%;
}
#center-Text{
    width: 60%;
    height: 20%;
    text-align: center;
    font-size: x-large;
    /* border: 1px solid blue; */
}
.middle-Content{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
}
.middle-Content-text{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#heading1{
    width: 50%;
    height: 12%;
    font-size: 40px;
    position: relative;
    top: 80px;
    left: 120px;
    /* border: 1px solid green; */
}
#para1{
    width: 50%;
    height: 80%;
    position: relative;
    top: 100px;
    left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    line-height: 200%;
}
#para2{
    width: 50%;
    height: 100%;
    position: relative;
    top: 60px;
    left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    line-height: 200%;
}
.middle-Content-img{
    width: 100%;
    height: 100%;
    background-color: white;
    /* border: 1px solid red; */
}
#middleimg{
    width: 80%;
    height: 100%;
}

.middle-story-Container{
    /* border: 1px solid red; */
    width: 100vw;
    height: 190vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 30px;
    background-color: black;
}
.head-para{
    width: 45vw;
    height: 55vh;
    /* border: 1px solid green; */
    color: white;
    position: relative;
    top:120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.para-head{
    width: 45vw;
    height: 50vh;
    /* border: 1px solid red; */
    color: white;
    position: relative;
    top:120px;
}
#paragraph{
    width: 70%;
    height: 100%;
    /* position: relative;
    top: 0px;
    left: 0px; */
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.button1{
    width: 40%;
    height: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
}
#Button1{
    width: 80%;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    background-color: black;
    border: 1px solid wheat;
    color: white;
}
.image-head{
    /* border: 1px solid wheat; */
    width: 70%;
    height: 35%;
    position: relative;
    top:140px;

}
@media only screen and (min-width :320px) and (max-width :480px) {
    .Middle-Container1{
        width: 100vw;
        height: auto;
    }
    .middle-Para{
        font-size: small;
        border: 1px solid red;
        justify-items: start;
        justify-content: center;
    }
    #center-Text{
        font-family: gt-sectra;
        font-weight: 200;
        font-size: 1.65rem;
        line-height: 1.4;
        position: relative;
        /* top:30px */
    }
}
/* ============middle image container========== */
.middle-image-container{
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
}
.middle-image{
    width: 100%;
    height: 100%;
}
/* ====================Three-box-container=========== */
.Three-box-container{
    width: 100vw;
    height: 140vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    position: relative;
    /* top: 30px; */
    
}
.img-Box1{
    width: 32vw;
    height: 85vh;
    /* border: 1px solid black; */
    position: relative;
    top: 70px;
    left: 70px;
}
.paraImg-Box2{
    width: 35vw;
    height: 110vh;
    /* border: 1px solid black; */
    position: relative;
    top: 70px;
    right: 10px;

}
#boxthreeImg{
    width: 100%;
    height: 100%;
}

.paraImg-Box2{
    /* width: 100%;
    height: 100%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}
#head1{
    width: 50%;
    height: 12%;
    font-size: 40px;
    position: relative;
    top: 20px;
    /* left: 10px; */
    color: black;
    /* border: 1px solid green; */
}
#para-text{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;
    top: 50px;
    /* left: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    line-height: 200%;
    color: black;
    /* border: 1px solid red; */
}
.img-para2{
    width: 95%;
    height: 30%;
    /* border: 1px solid red; */
    position: relative;
    top: 200px;
}

/* ============middle image container2========== */
.middle-image-container2{
    width: 100vw;
    height: 120vh;
    /* border: 1px solid red; */
}
.middle-image2{
    width: 100%;
    height: 100%;
}

/* ====================Three-box-container2=========== */
.Three-box-container2{
    width: 100vw;
    height: 150vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 50px;
    
}
.img-Box2-1{
    width: 32vw;
    height: 95vh;
    /* border: 1px solid black; */
    position: relative;
    top: 70px;
    right: 70px;
}
.paraImg-Box2-1{
    width: 35vw;
    height: 110vh;
    /* border: 1px solid black; */
    position: relative;
    top: 170px;
    left: 10px;

}
#boxthreeImg{
    width: 100%;
    height: 100%;
}

.paraImg-Box2-1{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}
#head2{
    width: 50%;
    height: 12%;
    font-size: 40px;
    position: relative;
    top: 20px;
    /* left: 10px; */
    color: black;
    /* border: 1px solid green; */
}
#para-text2{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    line-height: 200%;
    color: black;
    /* border: 1px solid red; */
}
.img-para2-2{
    width: 95%;
    height: 40%;
    /* border: 1px solid red; */
    position: relative;
    top: 110px;
    right: 17px;
}


/* =========================OurWorld ==========================*/
.OurWorld{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Assert/AboutDLC/ourworld.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.world-our{
    width: 30vw;
    height: 20vh;
    /* border: 1px solid green; */
    position: relative;
    right: 20px;
}
.OurWorld h1{
    width: 30vw;
    height: 20vh;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}
.button4{
    width: 15%;
    height: 15%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: end;

}
#Button4{
    width: 80%;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    background: none;
    color: white;
    font-size: larger;
}
/*=====================footersection============= */
.bottomSection{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.829);
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.mainBottom1{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}
.bottomBox1
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
}
.logo2{
    width: 30vw;
    height: 10vh; 
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    width: 10%;
    height: 50%;
}
.bottomBox2
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.bottomHeading{
    width: 33vw;
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.mainBottom2{
    width: 50vw;
    height: 60vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: space-around;
    
}
.mainBottom2 a{
    font-size: medium;
}
.bottomBox2
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.bottomBox2 a{
    font-size: small;
}
.bottomBox3{
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid green; */
}
#smallheading{
    font-size: 12px;
}
.footer a
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
} 
#number{
    display: flex;
    flex-direction: column;
}
.bottomBox4{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid yellow; */
}
.bottomBox5{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid red; */
}
img{
    width: 100%;
    height: 100%;
}