.headerContainer
{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-image: url("../Assert/gallary.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-position: center;
}
body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    /* border: 1px solid red; */

}
.Logo-NavBar{
    width: 100vw;
    height: 30vh;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
}
.Mainlogo{
    width: 35vw;
    height: 20vh;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items:center;
}
.Biglogo
{
    width: 30%;
    height: 28%;
    position: relative;
    right: 20px;
}
.navBar{
    width: 65vw;
    height: 20vh;
    /* border: 1px solid yellow; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items:center;
  
}
.HeadingName h1{
    font-size: 50px;
    color: white;
}
.HeadName{
    /* border: 1px solid blueviolet; */
    width: 50vw;  
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

a {
    font-size: 18px;
    text-align:center;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
}
.nav
{
    display: flex;
    flex-direction: row;
}
.nav a{
    color: white;
}
@media only screen and (min-width :320px) and (max-width :480px) {
    .headerContainer{
        width: 100vw;
        height: auto;
    }
    .navBar{
        display: none;
    }
    .Biglogo{
        width: 55%;
        height: 30%;
    }
    .HeadName{
        justify-content: space-around;
        font-size: 25px;
        width: 60vw;
        /* border: 1px solid red; */
    }
}
@media only screen and (min-width :481px) and (max-width :768px) {
    .headerContainer{
        width: 100vw;
        height: auto;
    }
    .navBar{
        display: none;
    }
    .Biglogo{
        width: 50%;
        height: 25%;
    }
    .HeadName{
        justify-content: space-around;
        font-size: 25px;
        width: 60vw;
        /* border: 1px solid red; */
    }
}
@media only screen and (min-width :769px) and (max-width :1024px) {
    .headerContainer{
        width: 100vw;
        height: auto;
    }
    .navBar{
        display: none;
    }
    .Biglogo{
        width: 50%;
        height: 20%;
    }
    .HeadName{
        justify-content: space-around;
        font-size: 25px;
        width: 60vw;
        /* border: 1px solid red; */
    }
}

/* =================.middleSection ===============*/
.middleSection{
    width: 100vw;
    height: 120vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.ImageContainer{
    width: 33.33%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.ImageBox{
    width: 100%;
    height: 80%;
}
img{
    width: 100%;
    height: 100%;
}
.labelBox{
    width: 100%;
    height: 20%;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width :320px) and (max-width :480px){
    .middleSection{
        flex-direction: column;
        height: auto;
    }
    .ImageContainer{
        width: 100%;
        height: 300px;  
    }
    .ImageBox{
        width: 100%;
        height: 80%;
    }
    .labelBox{
        width: 100%;
        height: 20%;
    }
}
@media screen and (min-width :481px) and (max-width :768px){
    .middleSection{
        flex-direction: column;
        width: 100vw;
        height: auto;
    }
    .ImageContainer{
        width: 100%;
        height: 300px;
    }
    .ImageBox{
        width: 100%;
        height: 80%;
    }
    .labelBox{
        width: 100%;
        height: 20%;
    }
}
@media screen and (min-width :769px) and (max-width :1024px){
    .middleSection{
        width: 100vw;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ImageContainer{
        width: 50%;
        height: 300px;

    }
    .ImageBox{
        width: 100%;
        height: 80%;
    }
    .labelBox{
    
        width: 100%;
        height: 20%;
    }
}
    




/*=====================footersection============= */
.bottomSection{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.829);
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.mainbottom1{
    width: 50vw;
    height: 60vh;
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: column;

}
.bottomBox1
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
}
.bottomBox2
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.logo2{
    width: 30vw;
    height: 10vh; 
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    width: 10%;
    height: 50%;
}
.bottomHeading{
    width: 33vw;
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.mainBottom2{
    width: 50vw;
    height: 50vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: space-around;
}
.mainBottom2 a{
    font-size: medium;
}
.bottomBox2
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.bottomBox2 a{
    font-size: small;
}
.bottomBox3{
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid green; */
}
#smallheading{
    font-size: 12px;
}
.footer a
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
} 
#number{
    display: flex;
    flex-direction: column;
}
.bottomBox4{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid yellow; */
}
.bottomBox5{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid red; */
}
img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width :320px) and (max-width :480px){
    .bottomSection{
    
        width: 100vw;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid red; */
        
    }
    .mainbottom1{
      
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        position: relative;
        bottom: 20px;
    }
    .bottomBox1{
        width: 60vw;
        height: auto;
        /* border: 1px solid brown; */
        position: relative;
        right: 20px;
    }
    .bottomBox2
    {
        width: 100vw;
        height: auto;
        position: relative;
        top: 400px;
        /* border: 1px solid red; */
        /* font-size: large;
        color: aliceblue; */
    }
    .bottomHeading{
        width: 100vw;
        position: relative;
        /* right: 20px; */
        top:15px;
        /* left: 30px; */
    }
    .mainBottom2{
        width: 100vw;
        flex-direction: row;
        position: relative;
        bottom: 30px;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .mainbottom2{
        width: 100vw;
        height: 50vh;
        position: relative;
        /* bottom: 90px; */
    }
    .bottomBox3{
        width: 80%;
        height: 35%;
        position: relative;
        /* border: 1px solid rebeccapurple; */
        bottom: 20px;
        right: 20px;
    }
    .bottomBox4{
        width: 41%;
        height: 50%;
        position: relative;
        top: 10px;
        right: 20px;
        /* border: 1px solid red; */

    }
    .bottomBox5{
        width: 41%;
        height: 50%;
        position: relative;
        top: 10px;
        /* border: 1px solid green; */
    }
    .logo{
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width :481px) and (max-width :768px){
    .bottomSection{
    
        width: 100vw;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid red; */
        
    }
    .mainbottom1{
      
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        position: relative;
        bottom: 20px;
    }
    .bottomBox1{
        width: 60vw;
        height: auto;
        /* border: 1px solid brown; */
        position: relative;
        right: 20px;
    }
    .bottomBox2
    {
        width: 100vw;
        height: 10vh;
        position: relative;
        top: 400px;
        /* border: 1px solid red; */
        /* font-size: large; */
        /* color: aliceblue; */
    }
    .bottomHeading{
        width: 100vw;
        position: relative;
        /* right: 20px; */
        top:15px;
        left: 30px;
    }
    .mainBottom2{
        width: 100vw;
        flex-direction: row;
        position: relative;
        bottom: 30px;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .mainbottom2{
        width: 100vw;
        height: 50vh;
        position: relative;
        /* bottom: 90px; */
    }
    .bottomBox3{
        width: 80%;
        height: 35%;
        position: relative;
        /* border: 1px solid rebeccapurple; */
        bottom: 20px;
        right: 20px;
    }
    .bottomBox4{
        width: 41%;
        height: 50%;
        position: relative;
        top: 10px;
        right: 20px;
        /* border: 1px solid red; */

    }
    .bottomBox5{
        width: 41%;
        height: 50%;
        position: relative;
        top: 10px;
        /* border: 1px solid green; */
    }
    .logo{
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width :769px) and (max-width :1024px){
    .bottomSection{
    
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: row;
        /* border: 1px solid red; */
        
    }
    .mainbottom1{
        width: 30vw;
        height: auto;
        /* border: 1px solid greenyellow; */
        display: flex;
        flex-direction: column;
    }
    .bottomBox1{
        width: 30vw;
        height: 10vh;
        /* border: 1px solid yellow; */
        position: relative;
        top:70px;
    }
    .bottomBox2
    {
        width: 100vw;
        height: 10vh;
        position: relative;
        top: 250px;
        /* border: 1px solid red; */
    }
    .bottomHeading{
        width: 100vw;
        position: relative;
        /* right: 20px; */
        top:15px;
        left: 25px;
    }
    .mainbottom2{
        width: 70vw;
        height: auto;
        /* border: 1px solid gold; */
    }
    .mainBottom2{
        width: 70vw;
        height: auto;
        /* border: 1px solid green; */
        justify-content: space-between;
        position: relative;
        top: 90px;
    }
    .bottomBox3{
        width: 22vw;
        /* border: 1px solid green; */
    }
    .bottomBox4{
        width: 20vw;
        height: auto;

    }
    .bottomBox5{
        width: 20vw;
        height: auto;
    }
    .logo{
        width: 40px;
        height: 40px;
        position: relative;
        left:30px;
    }
}