.headerContainer
{
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: 100% 100%; 
}
body{
    margin: 0%;
}
.main-Logo{
    width: 35vw;
    height: 30vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
.logo-main, img{
    width: 35%;
    height: 20%;
}
.nav-bar{
    width: 60vw;
    height: 25vh;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  
}
.nav
{
    border: 0px solid gray;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    font-size: medium;
}
.nav a{
    color: white;
}
a {
    font-size:20px;
    text-align:center;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    font-size: large;
}
.HeadingName h1{
    display: flex;
    flex-direction: row;
    font-size:50px;
    color: white;
}
.HeadingName{
    /* border: 1px solid red; */
    width: 70vw;
    height: 60vh;
}
.mainhead{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bottomheading{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 1px solid red; */
    position: relative;
    bottom: 40px;
    width: 35vw;
    height: 10vh
    
}
.bottomHead{
    /* border: 1px solid red; */
     color: white;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
.videoPlayer {
    position: relative;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video-player{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video-player{
        width: auto;
        height: 100%;
    }
}
img{
    width: 100%;
    height: 100%;
}


/* ====================Three-box-container2=========== */
.Three-box-container2{
    width: 100vw;
    height: 135vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 30px;
    background-image: url("../Assert/HomePage/backgroundimg.jpg");
    background-size: 100% 100%; 
    
}
.img-Box2-1{
    width: 32vw;
    height: 90vh;
    /* border: 1px solid black; */
    position: relative;
    top: 70px;
    right: 70px;
}
.paraImg-Box2-1{
    width: 35vw;
    height: 110vh;
    /* border: 1px solid black; */
    position: relative;
    top: 70px;
    left: 10px;

}
#boxthreeImg{
    width: 100%;
    height: 100%;
}

.paraImg-Box2-1{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}
#head2{
    width: 50%;
    height: 12%;
    font-size: 40px;
    position: relative;
    top: 0px;
    /* left: 10px; */
    color: black;
    /* border: 1px solid green; */
}
#para-text2{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    line-height: 200%;
    color: black;
    /* border: 1px solid red; */
}
.img-para2-2{
    width: 95%;
    height: 40%;
    /* border: 1px solid red; */
    position: relative;
    top: 110px;
    right: 17px;
}

/*=========== middle-world-container ===============*/

.middle-world-container{
    /* border: 1px solid red; */
    width: 100vw;
    height: 188vh;
    position: relative;
    top:30px;
    /* left:90px; */
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
}
.head-para-text{
    /* border: 1px solid red; */
    width: 50vw;
    height: 50vh;
    position: relative;
    top:90px;
    left: 90px;
    display: flex;
    flex-direction: column;
}
.para{
    /* border: 1px solid red; */
    width: 40vw;
    height: 15vh;
    position: relative;
    top:30px;
    line-height: 200%;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
}
.text{
    /* border: 1px solid black; */
    width: 40vw;
    height: 10vh;
    position: relative;
    top:30px;
    right: 48px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    font-size: medium;
}
/* ===map-img-container=== */
.map-img-container{
    width: 100vw;
    height: 114vh;
    /* border: 1px solid yellow; */
    /* background-color: #f3f3f3; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top:160px;
}
.img-map-index{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    z-index: 1;

}
.map-img{
    /* border: 1px solid black; */
    width: 70vw;
    height: 110vh;
    position: relative;
    top:25px;
    z-index: 1;
}
.black-box{
    /* border: 1px solid blue; */
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 90px;
    right: 0px;
    background-color: black;
    z-index: 16;
}
.img-box{
    width: 20vw;
    height: 75vh;
    z-index: 16;
    position: absolute;
    bottom: 240px;
    left: 1030px;

}
.text-box{
    /* border: 1px solid red; */
    width: 25vw;
    height: 20vh;
    position: relative;
    top: 240px;
    left: 0px;
    color: white;
}
#head{
    position: relative;
    left:40px;
}
.head-last{
    width: 20vw;
    height: 5vh;
    position: relative;
    top:20px;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
}

/*================= Three-image-container =====================*/

.Three-image-container{
    /* border: 1px solid black; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.img-container{
    /* border: 1px solid black; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

}
.first-img{
    /* border: 1px solid black; */
    width: 33.3vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Assert/HomePage/Expereinces.jpg");
    background-size: 100% 100%;

}
.second-img{
    /* border: 1px solid black; */
    width: 33.3vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Assert/HomePage/lifestyle.jpg");
    background-size: 100% 100%;
}
.third-img{
    /* border: 1px solid black; */
    width: 33.3vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Assert/HomePage/wellness.jpg");
    background-size: 100% 100%;

}
#headtext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    opacity: 0.6;
    color: #f3f3f3;
}


/*=====================footersection============= */
.bottomSection{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.829);
    flex-wrap: wrap;
    justify-content: space-between;
    /* position: relative;
    top:120px; */
}
.mainBottom1{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}
.bottomBox1
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
}
.logo2{
    width: 30vw;
    height: 10vh; 
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    width: 10%;
    height: 50%;
}
.bottomBox2
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.bottomHeading{
    width: 33vw;
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.mainBottom2{
    width: 50vw;
    height: 60vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: space-around;

}
.mainBottom2 a{
    font-size: medium;
}
.bottomBox2
{
    width: 50vw;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.bottomBox2 a{
    font-size: small;
}
.bottomBox3{
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid green; */
}
#smallheading{
    font-size: 12px;
}
.footer a
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
} 
#number{
    display: flex;
    flex-direction: column;
}
.bottomBox4{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid yellow; */
}
.bottomBox5{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* border: 1px solid red; */
}
img{
    width: 100%;
    height: 100%;
}